.game {
  margin: auto;
  height: 700px;
}

.gameView2D {
  width: 75%;
  height: 100%;
  margin: auto;
  border: 0.0675em solid black;
  float: left;
}

.debugLog {
  width: 20%;
  height: 100%;
  border: 0.0675 solid black;
  padding: 0.0675em;
  float: right;
}