<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="padded">Welcome</div>
  <button (click)="newGame()" [disabled]="!hideGame">Play</button>
  <button (click)="resetDB()">Reset DB</button>
  <button (click)="addTeam()">Add team to DB</button>
  <button (click)="getTeams()">Print all teams found in DB</button>
</div>

<div class="content" role="main">

  <app-game-view [hidden]="hideGame"></app-game-view>

  <!-- Footer -->
  <footer>
    [p.sc]
  </footer>

</div>



<router-outlet></router-outlet>